body{
	margin: 0;
}

#gameArea{
	background-color: yellow;
	min-height: 100vh;
}
.horse{
	position: relative;
	left: 0;
}
.horseContainer{
	width: 100%;
	border-top: 1px solid black;
}
.horseContainer:nth-child(even){
	background-color: rgba(0,0,0,.2);
}
.horseLabel{
	position: absolute;
	left: 0;
	top: 0;
}
.number{
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 80%;
	font-family: arial;
	padding: 1% 2%;
}
.yellowHorse .number{
	background-color: yellow;
	color: black;

}
.pinkHorse .number{
	background-color: pink;
	color: lime;
}
.blueHorse .number{
	background-color: cyan;
	color: hotpink;
}
.greenHorse .number{
	background-color: lime;
}
.redHorse .number{
	background-color: red;
	color: white;
}
.whiteHorse .number{
	background-color: white;
}
.verdantHorse .number{
	background-color: green;
	color: white;
}
.tealHorse .number{
	background-color: teal;
	color: red;
}
.purupleHorse .number{
	background-color: purple;
	color: yellow;
}
.greyHorse .number{
	background-color: grey;
	color: black;
	font-weight: bold;
}
.blackHorse .number {
	background-color: black;
	color: white;
}

